html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}
.navbar {
    height: 44px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}
.navbar > h1 {
    margin: 0px 0px 0px 20px;
    font-size: 20px;
}
.navbar > button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}
main {
    height: 100%;
}
.head {
    background-color: lightgray;
    height: 100%;
    text-align: center;
}
.head > .header {
    padding-top: 80px;
}
.head > .details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.head > .details > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.5px solid gray;
}
.head > .details > div > h2 {
    font-size: 20px;
}
.head > .details > div > p {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0;
}
.create {
    margin-top: 20px;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    font-size: 16px;
}
